<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h3>Hello World</h3>

        <button id='button' onclick=ClickedButton() style='text-decoration: none; color:white; background: green;'>Press Me!</button>

        <button style='background:deepskyblue'><a href='/test' style='text-decoration: none; color:white'>Test page</a></button>
        
        <script>
        numberofClicks=0
        function ClickedButton() {
            numberofClicks++
            alert('You clicked the button ' + numberofClicks + ' times!')
        }
        </script>
    </body>
</html>
