<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <h3>Weather</h3>

        <button id='button' onclick=ClickedButton() style='text-decoration: none; color:white; background: green;'>Press Me!</button>
        
        <script>
        fetch('/api/date')
            .then(function (response) {
                return response.json();
            })
            .then(function (myJson) {
                console.log(myJson)
            })

        /*numberofClicks=0
        function ClickedButton() {
            numberofClicks++
            alert('You clicked the button ' + numberofClicks + ' times!')
        }*/
        </script>
    </body>
</html>
